# Terraform
**/.terraform/*
**/terraform.tfstate
**/terraform.tfstate.*
errored.tfstate
**/crash.log
**/crash.*.log
*.tfvars

# CLI creds / keys
**/*.pem
**/*.key
**/*.p12
**/*id_rsa*
**/*id_ed25519*
**/credentials
**/.aws/*
**/.ssh/*

# OS
.DS_Store
Thumbs.db
